@tailwind base;
@tailwind components;
@tailwind utilities;

/* Accordian */

.accordian_open {
  max-height: 250px;
  animation: open 0.5s ease-in;
}

.accordian_close {
  animation: close 0.5s ease-out;

  max-height: 0px;
}

@keyframes open {
  0% {
    max-height: 0px;
  }

  100% {
    max-height: 250px;
  }
}

@keyframes close {
  0% {
    max-height: 250px;
  }

  100% {
    max-height: 0px;
  }
}
